<%= form_for @message do |form| %>
<p><%= form.label("title") %></p>
  <p><%= form.text_field :title %></p>
  <p><%= form.label("topic") %></p>
  <p><%= form.text_field :topic %></p>
  <p><%= form.label("content") %></p>
  <p><%= form.text_area :content, class: 'wysihtml5' %></p>
  <p><%= form.submit %></p>
<% end %>